.images {
  padding: 20% 10%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.parallaxImage {
  display: flex;
  position: relative;
  margin: 0;
  width: 100%;
  background-color: red;

  color: rgb(29, 22, 95);
  border-radius: 20px;
  height: 50px;
  align-items: center;
  justify-content: center;
}

.parallaxImage2 {
  display: flex;
  position: relative;
  margin: 0;
  width: 100%;
  background-color: rgb(174, 197, 44);
 
  color: rgb(29, 22, 95);
  border-radius: 20px;
  height: 50px;
  align-items: center;
  justify-content: center;
}

.centro {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-flow: column nowrap;
}

.universo{
  min-height: 100%;
  //min-width: 100%;
  width: 8000px;
  //height: auto;
  //width: 100%;
  //height: 100%;
  position: absolute;
  
  //background-size:cover;
  background-image: url("../imagenes/gran_espacio.jpg"); 


}

.horizontal {
  //min-height: 100%;
  width: 100%;
  
 
  text-align: center;
  position: absolute;
  //overflow-y: hidden;

  &:before {
    
    content: "← Scroll →";
  }
}

.image {
  img {
    display: block;
    width: 100%;
    height: auto;
  }
}
